*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: system-ui, sans-serif;
    display: grid;
    place-items: center;
    color: black;
    background: #e3f9ff;
}
.container{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);

}
label{
    font-size: larger;
    font-weight: 500;
    color: aliceblue;
    margin-right: 2px;
}
input{
    border: none;
    padding: 10px;
    font-size: large;
    outline: none;
    border-radius: 10px;

}
.btns{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
button{
    width: 50%;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    border-radius: 15px;

}
span{
    font-weight: bold;
    margin-right: 4px;

}
ul{
    font-size: large;
    color: white;
}
li::marker{
    color: grey;
    
}
